@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    color: #333;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    padding: 20px 9%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
}
.logo{
    font-size: 25px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
}
#cart-icon{
    position: relative;
    display: flex;
    font-size: 30px;
    cursor: pointer;
    
}
.cart-item-count{
    position: absolute;
    top: 0;
    right: -6px;
    background: #e35f26;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.cart{
    width: 355px;
    height: 100%;
    padding: 40px 20px 40px;
    position: fixed;
    top: 0;
    right: -100%;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
}
.cart.active{
    right: 0;
}
.cart-title{
    text-align: center;
    font-size: 30px;
}
.cart-box{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.cart-box img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;
}
.cart-detail{
    display: grid;
    gap: 8px;
    margin-right: auto;
}
.cart-product-title{
    font-size: 16px;
    line-height: 1;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    display: flex;
    width: 100px;
    border: 1px solid #999;
    border-radius: 6px;
}
.cart-quantity button{
    background: transparent;
    width: 30px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.cart-quantity #decrement{
    background: #fff;
}
.cart-quantity .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
}
.cart-quantity #increment{
    background: #fff;
}
.cart-remove{
    font-size: 26px;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #333;
    font-size: 18px;
    margin-top: 20px;
}
.total-price{
    margin-left: 10px;
    font-weight: 600;
}
.btn-buy{
    display: block;
    padding: 10px 30px;
    background: #e35f26;
    border: none;
    margin: 20px auto 0;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
#cart-close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;
}

.shop{
    padding: 100px 9% 30px;
}
.section-title{
    font-size: 35px;
    margin-bottom: 15px;
    text-align: center;
}
.product-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}
.product-box .img-box{
    display: flex;
    overflow: hidden;
}
.img-box img{
    width: 100%;
    transition: 0.5s;
}
.img-box img:hover{
    transform: scale(1.1);
}
.product-box .product-title{
    font-size: 20px;
    margin-top: 10px;
}
.price-and-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price-and-cart .price{
    font-size: 18px;
    font-weight: 500;
}
.add-cart{
    padding: 6px;
    background: #e35f26;
    font-size: 20px;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}
